// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

// Toggle global options
// $enable-gradients: true;
// $enable-shadows: true;
$enable-rounded:                              false !default;
$enable-shadows:                              false !default;
$enable-gradients:                            false !default;

// Customize some defaults
$body-color: #333;
$body-bg: #fff;
$border-radius: .4rem;
$success: #7952b3;
$red:     #cf3235 !default;
$pink:    #e83e8c !default;
$primary:       $red !default;
$danger:        $pink !default;
$white:rgba($body-bg, .95) !default;;

$navbar-dark-color: $white !default;


@import "bootstrap/scss/functions"; // Required
@import "bootstrap/scss/variables"; // Required
// @import "variables.scss";
@import "bootstrap/scss/mixins"; // Required

@import "bootstrap/scss/root"; // Required
@import "bootstrap/scss/reboot"; // Required
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
// @import "bootstrap/scss/code";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/input-group"; // Requires forms
// @import "bootstrap/scss/custom-forms";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar"; // Requires nav
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/jumbotron";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
@import "bootstrap/scss/media";
// @import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
// @import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import "bootstrap/scss/utilities";
// @import "bootstrap/scss/print";

//
// Custom styles
//

@import "icon-list";

body {
  min-height: 100vh;
}
.dark{
  background-color: $gray-900;
  color: $gray-400;
}
main{
  background: url('../img/bg_hero.jpeg') no-repeat bottom;
  background-size: cover;
  min-height: 100vh;
  display: grid;
  justify-items: center; 
  align-items: center;
  grid-auto-flow: row dense; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr auto; 
  gap: 0px 0px; 
  grid-template-areas: 
    "logo"
    "."; 
  .logo{
    grid-area: logo;
    border-radius: 50%;
    width: 15rem;
    // border: 0.5rem white solid;
    mix-blend-mode: hard-light;
    position: relative;
    display: block;
    overflow: hidden;
    img{
    aspect-ratio: 1/1;
    width: 100%;
    position: relative;
    background-color: $primary;
    }
  }
  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
    height: 100%;
    top: 0;
    backdrop-filter: blur(3px) saturate(0.5);
    transition: all 0.25s ease-in;
}
    &:hover::before{
      backdrop-filter: blur(0px) saturate(0.75);
    }
}
.navbar{
  mix-blend-mode: hard-light;
}
@include media-breakpoint-up(lg) {
  .navbar{
    border-radius: 4rem;
  }
}

// Modal fullscreen
.modal{
  &-fullscreen{
    .modal-dialog{
      max-width: -webkit-fill-available;
      border-radius: 0;
      margin: auto;
      height: 100%;
      .modal-content{
        border: 0;
        height: 100%;
      }
    }
  }
}

// Style Bootstrap icons
.bi {
  fill: currentcolor;
}
